<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<style>
    body{
    background-color:#EEEEEE;
}
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll,
.subbtn {
    margin-top:10px;
}
.task-date {
    margin-top:-30px;
    margin-right:30px;
}
span.glyphicon-menu-left{
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 50px;
  cursor: pointer;
}
</style>
<body ng-app="task.app">
<div
    class="container"
    ng-controller="TaskListCtrl as ctrl"
    >
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
                <div class=row>
                    <div class=col-md-6>
                        <input
                               type="text"
                               class="form-control add-todo"
                               placeholder="Add todo"
                               ng-model="task.title"
                               name="title"
                            />
                            <div class="help-text">
                                <p>
                                    <small>
                                        Todo Text
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class=col-md-6>
                            <input
                                   type=date
                                   class="form-control add-todo"
                                   name=due
                                   ng-model="task.due"
                                   placeholder="due date"
                            />
                            <div class="help-text">
                                <p>
                                    <small>
                                        due date
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class=col-md-7>
                            <button class="subbtn btn btn-primary" ng-click="addTask()">submit</button>
                        </div>
                        <div class=col-md-5>
                            <button id="checkAll" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> all done
                            </button>
                        </div>
                    </div>
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                        <li class="ui-state-default" ng-repeat="task in ctrl.tasks"  id="{{ task.id }}">
                                <div class="checkbox">
                                    <label>
                                        <finish-box task=task id=task.id></finish-box>{{ task.title }}
                                    </label>
                                </div>
                                <p class="pull-right task-date">Due Date: {{ task.date_due  }}</p>
                            </li>
                        </ul>
                        <div class="todo-footer">
                            <strong>
                                <span class="count-todos" ng-bind="ctrl.tasks.length"></span>
                            </strong> Items Left
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="todolist">
                     <h1>Completed</h1>
                        <ul id="done-items" class="list-unstyled">
                            <li ng-repeat="completeTask in ctrl.completeTasks track by $index">
                                <span
                                      class="bg-info glyphicon glyphicon-menu-left"
                                      ng-click="reopenCompleteTask(completeTask.id)"
                                ></span>
                                <s>{{ completeTask.title }}</s>
                                <span class=pull-right>
                                    <close-button task=completeTask>
                                    </close-button>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="angular-1.4.0-beta.2/angular.js"></script>
        <script src="angular-1.4.0-beta.2/angular-resource.js"></script>
        <script src="task.js"></script>
    </body>
